@{
    ViewBag.Title = "Contact US";
}

<h2>For any query and support :</h2><p> <a href="http://shoppster.community.query.com"></a></p>

<address>
    SHOPPSTER<br /> 
    KUTTIPURA HOUSE<br />
    ARANMULA P O<br />
    PATHANAMTHITTA<br />
</address>

