<head>
    <style type="text/css">
        .jumbotron {
            background-color: #33CCFF;
        }
    </style>
</head>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SHOPP<img alt="sample image" border="0" class="jumbotron" contenteditable="inherit" dir="rtl" src="" style="height: 73px; width: 109px; float: left; background-color: #0066FF" />STER</h1>&nbsp;<p class="lead">ONLINE SUPPLYCO SHOPPING PLATFORM</p>
    <p><a href="http://localhost:2641/store" class="btn btn-primary btn-lg">Shop Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Explore Offers</h2>
        <p>Know Our Exciting Offers</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Subsidy Chart</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Locate Store</h2>
        <p>Find Your Nearest Store</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Click Here &raquo;</a></p>
    </div>
</div>